._background{
    top: 700px;
left: 0px;

height:900px;
background: transparent linear-gradient(0deg, #4EBAE7B8 0%, #4EBAE76C 17%, #4EBAE75A 40%, #4EBAE750 66%, #00B4FF4D 100%) 0% 0% no-repeat ;
opacity: 1;
}